<h1>Movies Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <%= render 'movies/movies', :movies => @movie %>
    <li>
      <h3>
        <%= link_to @movie.title, controller: "movie", action: "show" %>
      </h3>
    </li>
</ul>