<div class="container">
	<footer class="footer">
		<small>
			Copyrights &copy;2016, All Rights Reseved  by <a href="https://www.facebook.com/adel.almaleh2">Adel Almaleh</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", '#' %></li>
				<li><%= link_to "contact", '#' %></li>
				<li><%= link_to "Terms", '#' %></li>
				<li><%= link_to "Privacy", '#' %></li>
				<li><%= link_to "Support", '#' %></li>
				<% if user_signed_in? %>
					<li><% Category.all.each do |category|%>
        	<li><%= link_to "#{category.name}", category_path(category) %></li>
        	<%end %>
       	<%end%>
			</ul>
		</nav>
	</footer>
</div>